Initialization for Google Colab

In [22]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!tar xf spark-3.2.1-bin-hadoop3.2.tgz
!pip install -q findspark
!pip install -q pyspark
import os
import pyspark
import findspark
import numpy as np
import pandas as pd
from datetime import date,timedelta,datetime
from pyspark.sql import functions as F
from pyspark.sql import SparkSession
from google.colab import drive
from pyspark.sql.types import *
from pyspark.sql.window import Window
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"
findspark.init()
findspark.find()
spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

Mounting Google Drive

In [23]:
drive.mount('/content/gdrive/',force_remount=True)
root_path="/content/gdrive/MyDrive/Project/Big_Data_and_IoT_project/"

Mounted at /content/gdrive/

Reading the provided .csv file

In [24]:
dataset=spark.read.load(root_path+"dataset.csv",format="csv",sep=",",inferScheme=True,header=True)
dataset.show()

+------+-------+----------------+--------------------+----------+
|SL No.| Emp ID|RFID Card Number|       Employee Name|   Contact|
+------+-------+----------------+--------------------+----------+
|     1|4000001|         4000001|        Shakil Ahmed|1812345678|
|     2|4000002|         4000002|        Shatabdi Roy|1812345678|
|     3|4000003|         4000003|    Md. Pieash Ahmed|         0|
|     4|4000004|         4000004|        Fahima Islam|1812345678|
|     5|4000005|         4000005|  Tanjina Akter Jame|1812345678|
|     6|4000006|         4000006|    Afrin Jahan Urme|1812345678|
|     7|4000007|         4000007|      Anika Tabassum|1812345678|
|     8|4000008|         4000008|     Afsana Alam Mim|1812345678|
|     9|4000009|         4000009| Sayma Islam Sochona|1812345678|
|    10|4000010|         4000010|A. K. M. Tasnim Alam|1812345678|
|    11|4000011|         4000011|   Md Regone Hossain|1812345678|
|    12|4000012|         4000012| Silvia Kh. Shuvessa|1812345678|
|    13|4000013|         4000013|      Yeasin Bhuiyan|1812345678|
|    14|4000014|         4000014|   Md. Mehedi Hassan|1812345678|
|    15|4000015|         4000015|       Riyad Hossain|1812345678|
|    16|4000016|         4000016|Md. Saiful Islam ...|1812345678|
|    17|4000017|         4000017|Abdullah Mohammod...|1812345678|
|    18|4000018|         4000018|             Al Amin|1812345678|
|    19|4000019|         4000019|   Zahid Hasan Nirob|1812345678|
|    20|4000020|         4000020|      Sharzan Rahman|1812345678|
+------+-------+----------------+--------------------+----------+
only showing top 20 rows

Checking the provided data

In [25]:
dataset.summary().show()

+-------+-----------------+-----------------+-----------------+--------------------+-------------------+
|summary|           SL No.|           Emp ID| RFID Card Number|       Employee Name|            Contact|
+-------+-----------------+-----------------+-----------------+--------------------+-------------------+
|  count|              998|              998|              998|                 998|                998|
|   mean|            499.5|        4000499.5|        4000499.5|                null|1.792369924034068E9|
| stddev|288.2420857543187|288.2420857543187|288.2420857543187|                null|1.893141629516554E8|
|    min|                1|          4000001|          4000001|A. K. M. Tasnim Alam|                  0|
|    25%|            250.0|        4000250.0|        4000250.0|                null|      1.812345678E9|
|    50%|            499.0|        4000499.0|        4000499.0|                null|      1.812345678E9|
|    75%|            749.0|        4000749.0|        4000749.0|                null|      1.812345678E9|
|    max|              998|          4000998|          4000998|   Zahid Hasan Nirob|         1812345678|
+-------+-----------------+-----------------+-----------------+--------------------+-------------------+

Renaming the columns for further access

In [26]:
for i in dataset.schema.names:
    S=i.replace(' ','_')
    S=S.replace('.','_')
    dataset=dataset.withColumnRenamed(i,S)
dataset=dataset.na.drop()

Checking existing schema

In [27]:
for i in dataset.schema:
    print(i)
print()
dataset.printSchema()

StructField(SL_No_,StringType,true)
StructField(Emp_ID,StringType,true)
StructField(RFID_Card_Number,StringType,true)
StructField(Employee_Name,StringType,true)
StructField(Contact,StringType,true)

root
 |-- SL_No_: string (nullable = true)
 |-- Emp_ID: string (nullable = true)
 |-- RFID_Card_Number: string (nullable = true)
 |-- Employee_Name: string (nullable = true)
 |-- Contact: string (nullable = true)

Additional imports for data processing

In [28]:
!pip install -q random-address
import string
import random
import random_address
import math
from pyspark.sql import SQLContext
from pyspark.sql.functions import *
from pyspark.sql.types import *
from random import randrange
from datetime import timedelta
from datetime import datetime

Helper methods for generating certain data

In [29]:
def getRandomAddress():
    ret=random_address.real_random_address()
    S=""
    T=""
    f=0
    for i in ret.values():
        try:
            T+=i
            if len(i)>0:
                if f==1:
                    S+=", "
                else:
                    f=1
                S+=str(i)
        except:
            break
    return S

def getRandomLatitude():
    ret=random_address.real_random_address_by_state('CT')
    return ret['coordinates']['lat']

def getRandomLongitude():
    ret=random_address.real_random_address_by_state('CT')
    return ret['coordinates']['lng']

def random_date(start,end):
    delta=end-start
    int_delta=(delta.days*24*60*60)+delta.seconds
    random_second=randrange(int_delta)
    return start+timedelta(seconds=random_second)

def DoB():
    d1 = datetime.strptime('12/16/1971 12:00 AM', '%m/%d/%Y %I:%M %p')
    d2 = datetime.strptime('12/31/1990 11:59 PM', '%m/%d/%Y %I:%M %p')
    return random_date(d1,d2)

def DoC():
    d1 = datetime.strptime('12/16/2020 12:00 AM', '%m/%d/%Y %I:%M %p')
    d2 = datetime.strptime('12/31/2021 11:59 PM', '%m/%d/%Y %I:%M %p')
    return random_date(d1,d2)

def DoU(s):
    t=s.split('-')
    s=t[1]+'/'+t[2]+'/'+t[0]
    d1 = datetime.strptime(s+' 12:00 AM', '%m/%d/%Y %I:%M %p')
    d2 = datetime.strptime('04/09/2022 11:59 PM', '%m/%d/%Y %I:%M %p')
    return random_date(d1,d2)

def DoV(s):
    t=s.split('-')
    s=t[1]+'/'+t[2]+'/'+t[0][:-1]+'4'
    d1 = datetime.strptime(s+' 12:00 AM', '%m/%d/%Y %I:%M %p')
    d2 = datetime.strptime('04/09/2026 11:59 PM', '%m/%d/%Y %I:%M %p')
    return random_date(d1,d2)

def DoL(s):
    t=s.split('-')
    s=t[1]+'/'+t[2]+'/'+t[0]
    d1 = datetime.strptime(s+' 12:00 AM', '%m/%d/%Y %I:%M %p')
    d2 = datetime.strptime('04/09/2022 11:59 PM', '%m/%d/%Y %I:%M %p')
    return random_date(d1,d2)

def getActTemp(st):
    if int(st)>2024:
        return '1'
    else:
        return '0'

Lambda functions for generating data

In [30]:
genUserID=udf(lambda :''.join(random.choices(string.ascii_uppercase+string.digits,k=12)),StringType())
genDGID=udf(lambda :random.randint(1,50),IntegerType())
genLimit=udf(lambda :random.randint(10,25),IntegerType())
genDue=udf(lambda :random.uniform(100.0,2500.0),DoubleType())
genTag=udf(lambda :''.join(random.choices(string.digits,k=6)),StringType())
genRefN=udf(lambda :''.join(random.choices(string.digits,k=random.randint(1,8))),StringType())
genQty=udf(lambda :random.randint(123,1234),IntegerType())
genPTID=udf(lambda :random.randint(1,25),IntegerType())
genFirstName=udf(lambda x:' '.join(x.split()[0:-1]),StringType())
genLastName=udf(lambda x:x.split()[-1],StringType())
genAdd=udf(lambda :getRandomAddress(),StringType())
genLat=udf(lambda :getRandomLatitude(),DoubleType())
genLon=udf(lambda :getRandomLongitude(),DoubleType())
genCity=udf(lambda x:x.split()[1],StringType())
genPostCode=udf(lambda x:x.split()[3],StringType())
genCountry=udf(lambda x:x.split()[2],StringType())
genDoB=udf(lambda :str(DoB()).split()[0],StringType())
genDoC=udf(lambda :str(DoC()).split()[0],StringType())
genDoU=udf(lambda x:str(DoU(x)).split()[0],StringType())
genDoV=udf(lambda x:str(DoV(x)).split()[0],StringType())
genDoL=udf(lambda x:str(DoL(x)).split()[0],StringType())
genTF=udf(lambda :''.join(random.choices(['t','f'],k=1)),StringType())
genActiv=udf(lambda :''.join(random.choices(['0','1'],k=1)),StringType())
genActiTemp=udf(lambda x:getActTemp(x.split('-')[0]),StringType())
tint=udf(lambda x:int(x),IntegerType())

Generating extra data and adding to the provided data

In [31]:
dataset=dataset.withColumnRenamed("Contact","contact")
dataset=dataset.withColumn("contact_number",dataset.contact)
dataset=dataset.withColumn("user_id",genUserID())
dataset=dataset.withColumn("first_name",genFirstName(dataset.Employee_Name))
dataset=dataset.withColumn("last_name",genLastName(dataset.Employee_Name))
dataset=dataset.withColumn("date_of_birth",genDoB())
dataset=dataset.withColumn("lat",genLat())
dataset=dataset.withColumn("lon",genLon())
dataset=dataset.withColumn("is_otp_verified",genTF())
dataset=dataset.withColumn("discount_group_id",genDGID())
dataset=dataset.withColumn("address",genAdd())
dataset=dataset.withColumn("city",genCity(dataset.address))
dataset=dataset.withColumn("postcode",genPostCode(dataset.address))
dataset=dataset.withColumn("country",genCountry(dataset.address))
dataset=dataset.withColumn("currency",lit("USD"))
dataset=dataset.withColumn("tag",genTag())
dataset=dataset.withColumn("created_date",genDoC())
dataset=dataset.withColumn("updated_date",genDoU(dataset.created_date))
dataset=dataset.withColumn("valid_until",genDoV(dataset.created_date))
dataset=dataset.withColumn("activated",genActiTemp(dataset.valid_until))
dataset=dataset.withColumn("last_used",genDoL(dataset.updated_date))
dataset=dataset.withColumn("expire_date",dataset.valid_until)
dataset=dataset.withColumn("reference_number",genRefN())
dataset=dataset.withColumn("employee_code",tint(dataset.Emp_ID))
dataset=dataset.withColumn("unique_user_id",tint(dataset.SL_No_))
dataset=dataset.withColumn("id",tint(dataset.SL_No_))
dataset=dataset.withColumn("quantity",genQty())
dataset=dataset.withColumn("product_type_id",lit(int(input("Enter Product Type ID : "))))
dataset=dataset.withColumn("rfid_id",dataset.RFID_Card_Number)
dataset=dataset.withColumn("credit_type",lit("NORMAL"))
dataset=dataset.withColumn("per_day",genLimit())
dataset=dataset.withColumn("per_week",dataset.per_day*7)
dataset=dataset.withColumn("per_month",dataset.per_day*30)
dataset=dataset.withColumn("inventory_type_id",lit(int(input("Enter Inventory Type ID : "))))
dataset=dataset.withColumn("fixed_credit_limit",lit(50))
dataset=dataset.withColumn("credit_limit",lit(30))
dataset=dataset.withColumn("due_amount",genDue())
dataset=dataset.withColumn("agent_name_id",lit(int(input("Enter Agent Name ID : "))))
dataset.show()
dataset.printSchema()

Enter Product Type ID : 8
Enter Inventory Type ID : 9
Enter Agent Name ID : 5
+------+-------+----------------+--------------------+----------+--------------+------------+--------------------+---------+-------------+-----------------+------------------+---------------+-----------------+--------------------+---------+-----------+-------+--------+------+------------+------------+-----------+---------+----------+-----------+----------------+-------------+--------------+---+--------+---------------+-------+-----------+-------+--------+---------+-----------------+------------------+------------+------------------+-------------+
|SL_No_| Emp_ID|RFID_Card_Number|       Employee_Name|   contact|contact_number|     user_id|          first_name|last_name|date_of_birth|              lat|               lon|is_otp_verified|discount_group_id|             address|     city|   postcode|country|currency|   tag|created_date|updated_date|valid_until|activated| last_used|expire_date|reference_number|employee_code|unique_user_id| id|quantity|product_type_id|rfid_id|credit_type|per_day|per_week|per_month|inventory_type_id|fixed_credit_limit|credit_limit|        due_amount|agent_name_id|
+------+-------+----------------+--------------------+----------+--------------+------------+--------------------+---------+-------------+-----------------+------------------+---------------+-----------------+--------------------+---------+-----------+-------+--------+------+------------+------------+-----------+---------+----------+-----------+----------------+-------------+--------------+---+--------+---------------+-------+-----------+-------+--------+---------+-----------------+------------------+------------+------------------+-------------+
|     1|4000001|         4000001|        Shakil Ahmed|1812345678|    1812345678|DYOYERQQMGL9|              Shakil|    Ahmed|   1979-01-25|        41.738226|-72.57570439999999|              f|               42|1630 Eton Way, Cr...|     Mark|   Terrace,| Street|     USD|312936|  2021-07-29|  2022-03-11| 2025-10-23|        1|2022-04-08| 2025-10-23|        78413559|      4000001|             1|  1|     534|              8|4000001|     NORMAL|     20|     140|      600|                9|                50|          30|2041.0728895049024|            5|
|     2|4000002|         4000002|        Shatabdi Roy|1812345678|    1812345678|G2AAK0XAGAF0|            Shatabdi|      Roy|   1990-11-23|        41.782849|       -72.5306932|              f|               23|445 South Potomac...| Vineyard| Southwest,|   53rd|     USD|100383|  2021-03-07|  2021-08-16| 2024-08-16|        0|2021-11-05| 2024-08-16|         9931521|      4000002|             2|  2|     497|              8|4000002|     NORMAL|     24|     168|      720|                9|                50|          30|  705.523763314614|            5|
|     3|4000003|         4000003|    Md. Pieash Ahmed|         0|             0|940LBUPWR5M4|          Md. Pieash|    Ahmed|   1983-06-30|        41.801434|-72.50770960000001|              f|               41|4329 Howe Street,...|    Elgin|   Oakland,| Street|     USD|129788|  2021-09-10|  2022-01-19| 2026-03-01|        1|2022-03-27| 2026-03-01|          056845|      4000003|             3|  3|    1106|              8|4000003|     NORMAL|     22|     154|      660|                9|                50|          30| 361.6857583912185|            5|
|     4|4000004|         4000004|        Fahima Islam|1812345678|    1812345678|NSXRKJZY3FZ3|              Fahima|    Islam|   1988-02-10|       41.7813693|        -72.474013|              f|               36|222 Plymouth Stre...|    Lilly|     Essex,|Circle,|     USD|587006|  2021-07-20|  2022-01-20| 2025-09-25|        1|2022-03-15| 2025-09-25|         0247790|      4000004|             4|  4|     876|              8|4000004|     NORMAL|     23|     161|      690|                9|                50|          30| 459.3217301486999|            5|
|     5|4000005|         4000005|  Tanjina Akter Jame|1812345678|    1812345678|HLEUBI7OAVWN|       Tanjina Akter|     Jame|   1976-08-14|        41.789265|       -72.5414062|              f|               50|4188 Summerview D...|Southeast|     Street| Avenue|     USD|391790|  2021-08-16|  2021-10-08| 2025-12-15|        1|2022-02-06| 2025-12-15|           51667|      4000005|             5|  5|    1070|              8|4000005|     NORMAL|     11|      77|      330|                9|                50|          30| 160.8175920547481|            5|
|     6|4000006|         4000006|    Afrin Jahan Urme|1812345678|    1812345678|6S8V4Q9B6J6W|         Afrin Jahan|     Urme|   1988-11-09|        41.785401|        -72.495914|              f|               22|5108 Bass Place S...|   Eatons|    Jessup,|Street,|     USD|209628|  2021-04-26|  2021-11-04| 2025-01-14|        1|2022-01-08| 2025-01-14|              30|      4000006|             6|  6|     406|              8|4000006|     NORMAL|     25|     175|      750|                9|                50|          30|1824.9074581707114|            5|
|     7|4000007|         4000007|      Anika Tabassum|1812345678|    1812345678|H8AIWZEN34XW|               Anika| Tabassum|   1985-03-05|       41.7702329|        -72.542441|              t|                4|2201 Marks Mill L...|    North|      #509,|  Road,|     USD|281014|  2021-06-18|  2021-11-15| 2025-06-21|        1|2022-02-15| 2025-06-21|         5488477|      4000007|             7|  7|     369|              8|4000007|     NORMAL|     13|      91|      390|                9|                50|          30|1162.4953429354155|            5|
|     8|4000008|         4000008|     Afsana Alam Mim|1812345678|    1812345678|O7DKZRRAMKZU|         Afsana Alam|      Mim|   1982-08-02|       41.7386259|        -72.473091|              t|                8|513 Habberton Roa...|     West|Manchester,| Drive,|     USD|253534|  2021-02-07|  2021-10-07| 2024-09-06|        0|2021-11-02| 2024-09-06|          331642|      4000008|             8|  8|    1087|              8|4000008|     NORMAL|     19|     133|      570|                9|                50|          30|2096.7382202105405|            5|
|     9|4000009|         4000009| Sayma Islam Sochona|1812345678|    1812345678|8YVPWHLIO8HA|         Sayma Islam|  Sochona|   1972-04-29|41.74684500000001|       -72.5308606|              t|               32|1025 West 19th St...| Latouche| Northeast,|  Olive|     USD|833795|  2021-06-26|  2021-06-30| 2025-07-16|        1|2022-01-08| 2025-07-16|           93790|      4000009|             9|  9|     316|              8|4000009|     NORMAL|     15|     105|      450|                9|                50|          30| 2110.517913255144|            5|
|    10|4000010|         4000010|A. K. M. Tasnim Alam|1812345678|    1812345678|DS512UCJWCYP|     A. K. M. Tasnim|     Alam|   1972-04-05|        41.777459|       -72.5477647|              t|               12|18827 Fish Hatche...|  Russell|  Whitmore,| Drive,|     USD|545459|  2021-05-15|  2021-05-18| 2025-03-12|        1|2021-10-15| 2025-03-12|               3|      4000010|            10| 10|     361|              8|4000010|     NORMAL|     12|      84|      360|                9|                50|          30|1585.3618055613777|            5|
|    11|4000011|         4000011|   Md Regone Hossain|1812345678|    1812345678|UTSBE4146DZ5|           Md Regone|  Hossain|   1979-09-21|       41.7663468|        -72.076115|              t|               37|419 Wabasso Avenu...|    South| Anchorage,|Neville|     USD|295965|  2021-04-16|  2021-07-13| 2024-12-14|        0|2021-11-11| 2024-12-14|              36|      4000011|            11| 11|     997|              8|4000011|     NORMAL|     16|     112|      480|                9|                50|          30| 1254.920439597569|            5|
|    12|4000012|         4000012| Silvia Kh. Shuvessa|1812345678|    1812345678|A43DXJC24RCJ|          Silvia Kh.| Shuvessa|   1980-11-10|       41.7890898|       -72.5312538|              f|               28|1643 North Jordan...|    North|      Road,| Court,|     USD|681176|  2020-12-20|  2021-07-11| 2024-12-28|        0|2021-07-15| 2024-12-28|              92|      4000012|            12| 12|     531|              8|4000012|     NORMAL|     23|     161|      690|                9|                50|          30|298.80446420857027|            5|
|    13|4000013|         4000013|      Yeasin Bhuiyan|1812345678|    1812345678|9VVPYH123PNI|              Yeasin|  Bhuiyan|   1982-09-07|41.80113559999999|-72.51124539999999|              t|               39|534 Turpin Street...|    Early|Louisville,|Street,|     USD|218001|  2020-12-19|  2021-08-20| 2024-12-25|        0|2021-08-23| 2024-12-25|        01901452|      4000013|            13| 13|     391|              8|4000013|     NORMAL|     20|     140|      600|                9|                50|          30|1989.7913274312505|            5|
|    14|4000014|         4000014|   Md. Mehedi Hassan|1812345678|    1812345678|GUPWU6VPO9D5|          Md. Mehedi|   Hassan|   1983-12-14|       41.7907629|-72.51124539999999|              f|               39|6016 Northwest 27...|    Dalry|    Midwest|Avenue,|     USD|130949|  2021-03-14|  2021-12-12| 2024-09-07|        0|2022-01-25| 2024-09-07|        25526610|      4000014|            14| 14|     929|              8|4000014|     NORMAL|     12|      84|      360|                9|                50|          30| 2462.378440923651|            5|
|    15|4000015|         4000015|       Riyad Hossain|1812345678|    1812345678|VABEW8NASZN8|               Riyad|  Hossain|   1977-07-18|       41.7853084|       -72.5762079|              t|               22|5397 Wentworth Av...|     East|    Circle,|  Road,|     USD|540616|  2021-12-16|  2022-01-16| 2025-07-07|        1|2022-03-21| 2025-07-07|         7817594|      4000015|            15| 15|     736|              8|4000015|     NORMAL|     11|      77|      330|                9|                50|          30| 224.9631615707557|            5|
|    16|4000016|         4000016|Md. Saiful Islam ...|1812345678|    1812345678|8Z2O224XWEK7|    Md. Saiful Islam|   Shakil|   1983-11-14|41.79968299999999|-72.54669779999999|              f|               42|3060 Zelda Road, ...|   Porter| Anchorage,|Street,|     USD|266672|  2021-08-29|  2022-01-11| 2025-04-30|        1|2022-02-05| 2025-04-30|          307429|      4000016|            16| 16|    1087|              8|4000016|     NORMAL|     21|     147|      630|                9|                50|          30|1714.3001151090748|            5|
|    17|4000017|         4000017|Abdullah Mohammod...|1812345678|    1812345678|EKA5N1ZONAWO|Abdullah Mohammod...|    Boiah|   1980-06-11|        41.805274|        -72.496656|              t|               37|1403 Boulder Cour...|   Kelton|     Drive,|  Road,|     USD|821598|  2021-03-27|  2021-07-01| 2026-01-31|        1|2021-10-31| 2026-01-31|        18241721|      4000017|            17| 17|     697|              8|4000017|     NORMAL|     25|     175|      750|                9|                50|          30|1501.3862759504811|            5|
|    18|4000018|         4000018|             Al Amin|1812345678|    1812345678|QLA78TM42P9P|                  Al|     Amin|   1984-01-14|        41.791814|       -72.5116989|              f|               18|349 North Sabine ...|     East|  Savannah,|  Lane,|     USD|502564|  2021-12-05|  2022-02-11| 2026-04-03|        1|2022-03-17| 2026-04-03|              98|      4000018|            18| 18|     660|              8|4000018|     NORMAL|     20|     140|      600|                9|                50|          30|  889.925528170546|            5|
|    19|4000019|         4000019|   Zahid Hasan Nirob|1812345678|    1812345678|ZNI3W7UUSH9T|         Zahid Hasan|    Nirob|   1982-02-10|        41.738226|         -72.51832|              t|               30|1749 Haleys Hope ...| Prospect|     Panama|  Villa|     USD|839356|  2021-04-17|  2022-01-03| 2025-01-15|        1|2022-03-18| 2025-01-15|        97222080|      4000019|            19| 19|     235|              8|4000019|     NORMAL|     24|     168|      720|                9|                50|          30|193.83296735379815|            5|
|    20|4000020|         4000020|      Sharzan Rahman|1812345678|    1812345678|VM13LV2JKEI1|             Sharzan|   Rahman|   1977-09-14|       41.7907629|       -72.5521009|              f|               26|4738 Mallard Comm...|   Verona|   Fremont,|  Place|     USD|834016|  2021-11-18|  2022-04-06| 2025-03-25|        1|2022-04-06| 2025-03-25|            2048|      4000020|            20| 20|     603|              8|4000020|     NORMAL|     21|     147|      630|                9|                50|          30|1274.0137748181314|            5|
+------+-------+----------------+--------------------+----------+--------------+------------+--------------------+---------+-------------+-----------------+------------------+---------------+-----------------+--------------------+---------+-----------+-------+--------+------+------------+------------+-----------+---------+----------+-----------+----------------+-------------+--------------+---+--------+---------------+-------+-----------+-------+--------+---------+-----------------+------------------+------------+------------------+-------------+
only showing top 20 rows

root
 |-- SL_No_: string (nullable = true)
 |-- Emp_ID: string (nullable = true)
 |-- RFID_Card_Number: string (nullable = true)
 |-- Employee_Name: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- contact_number: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- date_of_birth: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- lon: double (nullable = true)
 |-- is_otp_verified: string (nullable = true)
 |-- discount_group_id: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- postcode: string (nullable = true)
 |-- country: string (nullable = true)
 |-- currency: string (nullable = false)
 |-- tag: string (nullable = true)
 |-- created_date: string (nullable = true)
 |-- updated_date: string (nullable = true)
 |-- valid_until: string (nullable = true)
 |-- activated: string (nullable = true)
 |-- last_used: string (nullable = true)
 |-- expire_date: string (nullable = true)
 |-- reference_number: string (nullable = true)
 |-- employee_code: integer (nullable = true)
 |-- unique_user_id: integer (nullable = true)
 |-- id: integer (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- product_type_id: integer (nullable = false)
 |-- rfid_id: string (nullable = true)
 |-- credit_type: string (nullable = false)
 |-- per_day: integer (nullable = true)
 |-- per_week: integer (nullable = true)
 |-- per_month: integer (nullable = true)
 |-- inventory_type_id: integer (nullable = false)
 |-- fixed_credit_limit: integer (nullable = false)
 |-- credit_limit: integer (nullable = false)
 |-- due_amount: double (nullable = true)
 |-- agent_name_id: integer (nullable = false)

Creating Schema based on the table definitions

In [32]:
schema_users_personalinfo=StructType([
    StructField("user_id",StringType(),True),
    StructField("first_name",StringType(),True),
    StructField("last_name",StringType(),True),
    StructField("date_of_birth",StringType(),True),
    StructField("contact_number",StringType(),True),
    StructField("address",StringType(),True),
    StructField("lat",DoubleType(),True),
    StructField("lon",DoubleType(),True),
    StructField("created_date",StringType(),True),
    StructField("updated_date",StringType(),True),
    StructField("is_otp_verified",StringType(),True),
    StructField("discount_group_id",IntegerType(),True),
])

In [33]:
schema_users_billinginfo=StructType([
    StructField("user_id",StringType(),True),
    StructField("address",StringType(),True),
    StructField("city",StringType(),True),
    StructField("postcode",IntegerType(),True),
    StructField("country",StringType(),True),
    StructField("contact",StringType(),True),
    StructField("currency",StringType(),True),
    StructField("created_date",StringType(),True),
    StructField("updated_date",StringType(),True),
])

In [34]:
schema_users_rfidinfo=StructType([
    StructField("user_id",StringType(),True),
    StructField("tag",StringType(),True),
    StructField("activated",StringType(),True),
    StructField("created_date",StringType(),True),
    StructField("updated_date",StringType(),True),
    StructField("valid_until",StringType(),True),
    StructField("last_used",StringType(),True),
    StructField("reference_number",StringType(),True),
    StructField("employee_code",IntegerType(),True),
    StructField("unique_user_id",IntegerType(),True),
])

In [35]:
schema_users_rfiditem=StructType([
    StructField("id",IntegerType(),True),
    StructField("quantity",IntegerType(),True),
    StructField("created_date",StringType(),True),
    StructField("updated_date",StringType(),True),
    StructField("product_type_id",IntegerType(),True),
    StructField("rfid_id",StringType(),True),
    StructField("credit_type",StringType(),True),
    StructField("expire_date",StringType(),True),
])

In [36]:
schema_users_productlimit=StructType([
    StructField("id",IntegerType(),True),
    StructField("per_day",IntegerType(),True),
    StructField("per_week",IntegerType(),True),
    StructField("per_month",IntegerType(),True),
    StructField("created_date",StringType(),True),
    StructField("updated_date",StringType(),True),
    StructField("inventory_type_id",IntegerType(),True),
    StructField("user_id",StringType(),True),
])

In [37]:
schema_users_postpaidrfid=StructType([
    StructField("id",IntegerType(),True),
    StructField("fixed_credit_limit",IntegerType(),True),
    StructField("credit_limit",IntegerType(),True),
    StructField("due_amount",DoubleType(),True),
    StructField("created_date",StringType(),True),
    StructField("updated_date",StringType(),True),
    StructField("agent_name_id",IntegerType(),True),
    StructField("rfid_id",StringType(),True),
])

In [38]:
schema_users_checkout_limit=StructType([
    StructField("user_id",StringType(),True),
    StructField("per_day",IntegerType(),True),
    StructField("per_week",IntegerType(),True),
    StructField("per_month",IntegerType(),True),
    StructField("created_date",StringType(),True),
    StructField("updated_date",StringType(),True),
])

Functions to create, save and show tables

In [39]:
def saveCSV_createTable(cur_schema,name):
    table_select=[]
    table_drop=[]
    for i in cur_schema.names:
        table_select.append(i)
    for i in dataset.schema.names:
        if i not in table_select:
            table_drop.append(i)
    dataset.drop(*[i for i in table_drop]).select(*[i for i in table_select]).toPandas().to_csv(root_path+name+".csv",header=True,index=False)
    table=spark.read.format("csv").option("header",True).schema(cur_schema).load(root_path+name+".csv")
    return table

def showTable(cur,name):
    print(name)
    cur.show()
    cur.printSchema()

Creating and saving tables based on the given table definitions using created schema

In [40]:
users_personalinfo=saveCSV_createTable(schema_users_personalinfo,"users_personalinfo")
users_billinginfo=saveCSV_createTable(schema_users_billinginfo,"users_billinginfo")
users_rfidinfo=saveCSV_createTable(schema_users_rfidinfo,"users_rfidinfo")
users_rfiditem=saveCSV_createTable(schema_users_rfiditem,"users_rfiditem")
users_productlimit=saveCSV_createTable(schema_users_productlimit,"users_productlimit")
users_postpaidrfid=saveCSV_createTable(schema_users_postpaidrfid,"users_postpaidrfid")
users_checkout_limit=saveCSV_createTable(schema_users_checkout_limit,"users_checkout_limit")

The created tables

In [41]:
showTable(users_personalinfo,"users_personalinfo")
showTable(users_billinginfo,"users_billinginfo")
showTable(users_rfidinfo,"users_rfidinfo")
showTable(users_rfiditem,"users_rfiditem")
showTable(users_productlimit,"users_productlimit")
showTable(users_postpaidrfid,"users_postpaidrfid")
showTable(users_checkout_limit,"users_checkout_limit")

users_personalinfo
+------------+--------------------+---------+-------------+--------------+--------------------+-----------------+------------------+------------+------------+---------------+-----------------+
|     user_id|          first_name|last_name|date_of_birth|contact_number|             address|              lat|               lon|created_date|updated_date|is_otp_verified|discount_group_id|
+------------+--------------------+---------+-------------+--------------+--------------------+-----------------+------------------+------------+------------+---------------+-----------------+
|XD3U3I6KMIXP|              Shakil|    Ahmed|   1979-01-25|    1812345678|26563 Chisholm Co...|        41.761374|       -72.5209167|  2021-07-29|  2022-03-11|              t|               11|
|XC7PHTC9F397|            Shatabdi|      Roy|   1990-11-23|    1812345678|597 East Miracle ...|        41.763241|-72.47829999999999|  2021-03-07|  2021-08-16|              t|                8|
|LRGKNEQ2LA7A|          Md. Pieash|    Ahmed|   1983-06-30|             0|1701 Atlantic Str...|        41.777818|       -72.5426124|  2021-09-10|  2022-01-19|              t|               50|
|AAFV2OYVLERD|              Fahima|    Islam|   1988-02-10|    1812345678|6223 Kilmer Loop,...|        41.765366|        -72.542174|  2021-07-20|  2022-01-20|              t|               29|
|QLFIAUJKZQ5S|       Tanjina Akter|     Jame|   1976-08-14|    1812345678|8300 Dover Way, A...|        41.766326|       -72.4980889|  2021-08-16|  2021-10-08|              f|               17|
|HOW3E1K4N2N7|         Afrin Jahan|     Urme|   1988-11-09|    1812345678|9200 Gainswood Ci...|       41.7709068|       -72.5188292|  2021-04-26|  2021-11-04|              f|                4|
|7T3VD18WWJPU|               Anika| Tabassum|   1985-03-05|    1812345678|2815 Saint Edward...|        41.783396|-72.52390249999999|  2021-06-18|  2021-11-15|              t|               50|
|VT8J5856KG8N|         Afsana Alam|      Mim|   1982-08-02|    1812345678|212 Burk Way, Del...|41.78936590000001|        -72.495897|  2021-02-07|  2021-10-07|              t|               12|
|S1IOJ66SFXEN|         Sayma Islam|  Sochona|   1972-04-29|    1812345678|5065 North 54th A...|         41.75723|       -72.5757232|  2021-06-26|  2021-06-30|              f|               45|
|IAEE3AA4R1TR|     A. K. M. Tasnim|     Alam|   1972-04-05|    1812345678|565 North Lakesho...|        41.812844|        -72.496656|  2021-05-15|  2021-05-18|              t|               23|
|T7WL2MM8478G|           Md Regone|  Hossain|   1979-09-21|    1812345678|457 Mountain Vill...|       41.7687543|        -72.549026|  2021-04-16|  2021-07-13|              f|                2|
|3DQQ3V7FO0J7|          Silvia Kh.| Shuvessa|   1980-11-10|    1812345678|6029 Wright Stree...|       41.7901701|        -72.562237|  2020-12-20|  2021-07-11|              t|               43|
|PJF8JN1O0558|              Yeasin|  Bhuiyan|   1982-09-07|    1812345678|16 Clark Street, ...|        41.320683|       -72.5234493|  2020-12-19|  2021-08-20|              f|               46|
|I3Z6FL51H5PR|          Md. Mehedi|   Hassan|   1983-12-14|    1812345678|2936 State Avenue...|        41.780963|       -72.5443361|  2021-03-14|  2021-12-12|              t|                9|
|8YJH4XRR0HBU|               Riyad|  Hossain|   1977-07-18|    1812345678|6500 Thurlow Plac...|       41.7673619|       -72.4996759|  2021-12-16|  2022-01-16|              f|               32|
|HPTIYHDTWXNC|    Md. Saiful Islam|   Shakil|   1983-11-14|    1812345678|2505 North Hampto...|        41.750419|       -72.5136789|  2021-08-29|  2022-01-11|              f|               16|
|C9F7QGN5SQVW|Abdullah Mohammod...|    Boiah|   1980-06-11|    1812345678|4438 Maine Avenue...|       41.7712085|       -72.5188292|  2021-03-27|  2021-07-01|              f|               20|
|NFT3ZBO6OFMZ|                  Al|     Amin|   1984-01-14|    1812345678|802 East 37th Str...|       41.7901701|       -72.5306932|  2021-12-05|  2022-02-11|              t|               34|
|Y0Z0XIY9UAQ7|         Zahid Hasan|    Nirob|   1982-02-10|    1812345678|1456 East 39th St...|       41.7771997|-72.48995599999999|  2021-04-17|  2022-01-03|              t|               18|
|IHDSCAQ2M7VO|             Sharzan|   Rahman|   1977-09-14|    1812345678|8043 Cranberry St...|       41.7691683|        -72.541037|  2021-11-18|  2022-04-06|              t|               21|
+------------+--------------------+---------+-------------+--------------+--------------------+-----------------+------------------+------------+------------+---------------+-----------------+
only showing top 20 rows

root
 |-- user_id: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- date_of_birth: string (nullable = true)
 |-- contact_number: string (nullable = true)
 |-- address: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- lon: double (nullable = true)
 |-- created_date: string (nullable = true)
 |-- updated_date: string (nullable = true)
 |-- is_otp_verified: string (nullable = true)
 |-- discount_group_id: integer (nullable = true)

users_billinginfo
+------------+--------------------+----------+--------+--------+----------+--------+------------+------------+
|     user_id|             address|      city|postcode| country|   contact|currency|created_date|updated_date|
+------------+--------------------+----------+--------+--------+----------+--------+------------+------------+
|5EXNIQE09H4R|775 47th Street, ...|  Longview|    null|   Lane,|1812345678|     USD|  2021-07-29|  2022-03-11|
|BIV5I7LXLGNU|122 Summer Street...|      West|    null|Mountain|1812345678|     USD|  2021-03-07|  2021-08-16|
|OKZP6GJG6RFT|3720 West 86th Av...| Birchwood|    null| Street,|         0|     USD|  2021-09-10|  2022-01-19|
|NNLX7DDU4IH8|7096 Park Mesa Wa...|    Durham|    null|  Cholla|1812345678|     USD|  2021-07-20|  2022-01-20|
|20L626D3DBBW|5128 West Carol A...|     North|    null|  Drive,|1812345678|     USD|  2021-08-16|  2021-10-08|
|2XQ8OLJO46OU|96 Lakehouse Driv...|Turtleback|    null| Avenue,|1812345678|     USD|  2021-04-26|  2021-11-04|
|61CU00LKVLT9|5396 North Reese ...|      Beth|    null|  Street|1812345678|     USD|  2021-06-18|  2021-11-15|
|5DXM4CBFZ2LS|44 Elm Street, Ea...|  Toreador|    null|   Downs|1812345678|     USD|  2021-02-07|  2021-10-07|
|KS3WQLBSRVOP|405 Flint Ridge C...|    Spence|    null| Avenue,|1812345678|     USD|  2021-06-26|  2021-06-30|
|7F9E31SM69FU|461 Alder Street,...|    Wendys|    null|    Way,|1812345678|     USD|  2021-05-15|  2021-05-18|
|Q27U6GR3Q3D5|14 Olympia Street...|     North|    null|    Way,|1812345678|     USD|  2021-04-16|  2021-07-13|
|5GOHJQ19FA0S|68 Bigelow Street...|    Wasena|    null|   Glenn|1812345678|     USD|  2020-12-20|  2021-07-11|
|1H2Y0P72VUHC|2098 Lower Newton...|   Dickens|    null|Virginia|1812345678|     USD|  2020-12-19|  2021-08-20|
|2QDT8M5GVHJ3|150 Carter Street...|  Shoreham|    null| Lincoln|1812345678|     USD|  2021-03-14|  2021-12-12|
|S6F5QKLOP8HQ|480 Keene Road, W...|     Royal|    null| Street,|1812345678|     USD|  2021-12-16|  2022-01-16|
|2SEBVC1X0R8T|982 Stonington Dr...|      West|    null| Street,|1812345678|     USD|  2021-08-29|  2022-01-11|
|Z7WEPWN7968M|1632 North Lunsfo...| Hampstead|    null| Common,|1812345678|     USD|  2021-03-27|  2021-07-01|
|R4FAH6Z0W0PY|91 Hoague Drive, ...|     Zelda|    null|  Avenue|1812345678|     USD|  2021-12-05|  2022-02-11|
|KAM83R2NEN8G|143 Main Street, ...|   Elkader|    null|   Place|1812345678|     USD|  2021-04-17|  2022-01-03|
|Z8OLTOII2L83|5420 Allison Stre...|   Addison|    null|  Drive,|1812345678|     USD|  2021-11-18|  2022-04-06|
+------------+--------------------+----------+--------+--------+----------+--------+------------+------------+
only showing top 20 rows

root
 |-- user_id: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- postcode: integer (nullable = true)
 |-- country: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- currency: string (nullable = true)
 |-- created_date: string (nullable = true)
 |-- updated_date: string (nullable = true)

users_rfidinfo
+------------+------+---------+------------+------------+-----------+----------+----------------+-------------+--------------+
|     user_id|   tag|activated|created_date|updated_date|valid_until| last_used|reference_number|employee_code|unique_user_id|
+------------+------+---------+------------+------------+-----------+----------+----------------+-------------+--------------+
|GWTRSGUOPD6P|634495|        1|  2021-07-29|  2022-03-11| 2025-10-23|2022-04-08|          637335|      4000001|             1|
|VJ9X8MJ7QCXO|837961|        0|  2021-03-07|  2021-08-16| 2024-08-16|2021-11-05|        89007614|      4000002|             2|
|V2FVV2KQG2KP|986594|        1|  2021-09-10|  2022-01-19| 2026-03-01|2022-03-27|              81|      4000003|             3|
|8IPAOIOGB3M7|919703|        1|  2021-07-20|  2022-01-20| 2025-09-25|2022-03-15|              17|      4000004|             4|
|7Z9FXGFBV1AX|486381|        1|  2021-08-16|  2021-10-08| 2025-12-15|2022-02-06|               4|      4000005|             5|
|AGPNZIVRCUXK|480218|        1|  2021-04-26|  2021-11-04| 2025-01-14|2022-01-08|        50887684|      4000006|             6|
|LUHJPXQ9QLH1|843491|        1|  2021-06-18|  2021-11-15| 2025-06-21|2022-02-15|           45165|      4000007|             7|
|NDRMDQH6UN0T|394872|        0|  2021-02-07|  2021-10-07| 2024-09-06|2021-11-02|           64314|      4000008|             8|
|CIYGEJ5S2DGA|930818|        1|  2021-06-26|  2021-06-30| 2025-07-16|2022-01-08|            2608|      4000009|             9|
|120YOKM4ZOE6|741827|        1|  2021-05-15|  2021-05-18| 2025-03-12|2021-10-15|              72|      4000010|            10|
|9S5CIF2PNBDZ|125028|        0|  2021-04-16|  2021-07-13| 2024-12-14|2021-11-11|              17|      4000011|            11|
|0NRC5SVTZOQN|399976|        0|  2020-12-20|  2021-07-11| 2024-12-28|2021-07-15|           75432|      4000012|            12|
|COSR40MY8OPD|078712|        0|  2020-12-19|  2021-08-20| 2024-12-25|2021-08-23|               8|      4000013|            13|
|CKSBTMYVYVHS|156747|        0|  2021-03-14|  2021-12-12| 2024-09-07|2022-01-25|            3790|      4000014|            14|
|536RMD7SVZ8J|591575|        1|  2021-12-16|  2022-01-16| 2025-07-07|2022-03-21|              64|      4000015|            15|
|FHCR8LE9779S|478071|        1|  2021-08-29|  2022-01-11| 2025-04-30|2022-02-05|          853409|      4000016|            16|
|5P4JCCQT8LLL|433292|        1|  2021-03-27|  2021-07-01| 2026-01-31|2021-10-31|            1612|      4000017|            17|
|QEDEQEGSKMYJ|625748|        1|  2021-12-05|  2022-02-11| 2026-04-03|2022-03-17|        79239623|      4000018|            18|
|2ZSPUR7JP5QK|392041|        1|  2021-04-17|  2022-01-03| 2025-01-15|2022-03-18|        30002089|      4000019|            19|
|LXWDP1ZRG2JQ|395703|        1|  2021-11-18|  2022-04-06| 2025-03-25|2022-04-06|              90|      4000020|            20|
+------------+------+---------+------------+------------+-----------+----------+----------------+-------------+--------------+
only showing top 20 rows

root
 |-- user_id: string (nullable = true)
 |-- tag: string (nullable = true)
 |-- activated: string (nullable = true)
 |-- created_date: string (nullable = true)
 |-- updated_date: string (nullable = true)
 |-- valid_until: string (nullable = true)
 |-- last_used: string (nullable = true)
 |-- reference_number: string (nullable = true)
 |-- employee_code: integer (nullable = true)
 |-- unique_user_id: integer (nullable = true)

users_rfiditem
+---+--------+------------+------------+---------------+-------+-----------+-----------+
| id|quantity|created_date|updated_date|product_type_id|rfid_id|credit_type|expire_date|
+---+--------+------------+------------+---------------+-------+-----------+-----------+
|  1|     835|  2021-07-29|  2022-03-11|              8|4000001|     NORMAL| 2025-10-23|
|  2|     565|  2021-03-07|  2021-08-16|              8|4000002|     NORMAL| 2024-08-16|
|  3|     534|  2021-09-10|  2022-01-19|              8|4000003|     NORMAL| 2026-03-01|
|  4|    1033|  2021-07-20|  2022-01-20|              8|4000004|     NORMAL| 2025-09-25|
|  5|     752|  2021-08-16|  2021-10-08|              8|4000005|     NORMAL| 2025-12-15|
|  6|    1188|  2021-04-26|  2021-11-04|              8|4000006|     NORMAL| 2025-01-14|
|  7|     637|  2021-06-18|  2021-11-15|              8|4000007|     NORMAL| 2025-06-21|
|  8|     449|  2021-02-07|  2021-10-07|              8|4000008|     NORMAL| 2024-09-06|
|  9|     306|  2021-06-26|  2021-06-30|              8|4000009|     NORMAL| 2025-07-16|
| 10|    1228|  2021-05-15|  2021-05-18|              8|4000010|     NORMAL| 2025-03-12|
| 11|     513|  2021-04-16|  2021-07-13|              8|4000011|     NORMAL| 2024-12-14|
| 12|     315|  2020-12-20|  2021-07-11|              8|4000012|     NORMAL| 2024-12-28|
| 13|     865|  2020-12-19|  2021-08-20|              8|4000013|     NORMAL| 2024-12-25|
| 14|     451|  2021-03-14|  2021-12-12|              8|4000014|     NORMAL| 2024-09-07|
| 15|     327|  2021-12-16|  2022-01-16|              8|4000015|     NORMAL| 2025-07-07|
| 16|     408|  2021-08-29|  2022-01-11|              8|4000016|     NORMAL| 2025-04-30|
| 17|     315|  2021-03-27|  2021-07-01|              8|4000017|     NORMAL| 2026-01-31|
| 18|     585|  2021-12-05|  2022-02-11|              8|4000018|     NORMAL| 2026-04-03|
| 19|    1044|  2021-04-17|  2022-01-03|              8|4000019|     NORMAL| 2025-01-15|
| 20|     990|  2021-11-18|  2022-04-06|              8|4000020|     NORMAL| 2025-03-25|
+---+--------+------------+------------+---------------+-------+-----------+-----------+
only showing top 20 rows

root
 |-- id: integer (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- created_date: string (nullable = true)
 |-- updated_date: string (nullable = true)
 |-- product_type_id: integer (nullable = true)
 |-- rfid_id: string (nullable = true)
 |-- credit_type: string (nullable = true)
 |-- expire_date: string (nullable = true)

users_productlimit
+---+-------+--------+---------+------------+------------+-----------------+------------+
| id|per_day|per_week|per_month|created_date|updated_date|inventory_type_id|     user_id|
+---+-------+--------+---------+------------+------------+-----------------+------------+
|  1|     25|     175|      750|  2021-07-29|  2022-03-11|                9|9GBTO8F6P839|
|  2|     11|      77|      330|  2021-03-07|  2021-08-16|                9|0VHVUZES15R1|
|  3|     18|     126|      540|  2021-09-10|  2022-01-19|                9|IJZPF343EAZZ|
|  4|     15|     105|      450|  2021-07-20|  2022-01-20|                9|ZG3VDU2V31LE|
|  5|     11|      77|      330|  2021-08-16|  2021-10-08|                9|Z2ZEVF7XA1JA|
|  6|     10|      70|      300|  2021-04-26|  2021-11-04|                9|U7ZO7ZSQJMJJ|
|  7|     25|     175|      750|  2021-06-18|  2021-11-15|                9|RF3WV768I9XI|
|  8|     19|     133|      570|  2021-02-07|  2021-10-07|                9|RQOSQLE3UL7M|
|  9|     13|      91|      390|  2021-06-26|  2021-06-30|                9|4ANF3U7TX9DZ|
| 10|     22|     154|      660|  2021-05-15|  2021-05-18|                9|WL2HLDK46IY4|
| 11|     20|     140|      600|  2021-04-16|  2021-07-13|                9|UV5KPBKBOZZ4|
| 12|     17|     119|      510|  2020-12-20|  2021-07-11|                9|UK82UD2EQ339|
| 13|     16|     112|      480|  2020-12-19|  2021-08-20|                9|SVWQLTA6070L|
| 14|     10|      70|      300|  2021-03-14|  2021-12-12|                9|R1J0X5FKTEMM|
| 15|     20|     140|      600|  2021-12-16|  2022-01-16|                9|GODCNCKBR9MM|
| 16|     14|      98|      420|  2021-08-29|  2022-01-11|                9|XO8QOJF19JJ3|
| 17|     20|     140|      600|  2021-03-27|  2021-07-01|                9|SHUJ116L1HA8|
| 18|     11|      77|      330|  2021-12-05|  2022-02-11|                9|5CK834NINGXO|
| 19|     23|     161|      690|  2021-04-17|  2022-01-03|                9|WGS1TY0RHY0T|
| 20|     12|      84|      360|  2021-11-18|  2022-04-06|                9|HB4223D1SCWV|
+---+-------+--------+---------+------------+------------+-----------------+------------+
only showing top 20 rows

root
 |-- id: integer (nullable = true)
 |-- per_day: integer (nullable = true)
 |-- per_week: integer (nullable = true)
 |-- per_month: integer (nullable = true)
 |-- created_date: string (nullable = true)
 |-- updated_date: string (nullable = true)
 |-- inventory_type_id: integer (nullable = true)
 |-- user_id: string (nullable = true)

users_postpaidrfid
+---+------------------+------------+------------------+------------+------------+-------------+-------+
| id|fixed_credit_limit|credit_limit|        due_amount|created_date|updated_date|agent_name_id|rfid_id|
+---+------------------+------------+------------------+------------+------------+-------------+-------+
|  1|                50|          30| 886.0030583758275|  2021-07-29|  2022-03-11|            5|4000001|
|  2|                50|          30|1096.3076681564532|  2021-03-07|  2021-08-16|            5|4000002|
|  3|                50|          30| 1255.567105831829|  2021-09-10|  2022-01-19|            5|4000003|
|  4|                50|          30|1146.9015174004332|  2021-07-20|  2022-01-20|            5|4000004|
|  5|                50|          30|313.76020846066064|  2021-08-16|  2021-10-08|            5|4000005|
|  6|                50|          30| 975.2391577328505|  2021-04-26|  2021-11-04|            5|4000006|
|  7|                50|          30|1269.5809820079057|  2021-06-18|  2021-11-15|            5|4000007|
|  8|                50|          30|2235.0884245576976|  2021-02-07|  2021-10-07|            5|4000008|
|  9|                50|          30| 911.7287540275731|  2021-06-26|  2021-06-30|            5|4000009|
| 10|                50|          30|1081.9326601129305|  2021-05-15|  2021-05-18|            5|4000010|
| 11|                50|          30|1621.7560415431894|  2021-04-16|  2021-07-13|            5|4000011|
| 12|                50|          30| 2264.330628554417|  2020-12-20|  2021-07-11|            5|4000012|
| 13|                50|          30| 2472.578708375092|  2020-12-19|  2021-08-20|            5|4000013|
| 14|                50|          30| 763.9107089330497|  2021-03-14|  2021-12-12|            5|4000014|
| 15|                50|          30| 535.2941535617333|  2021-12-16|  2022-01-16|            5|4000015|
| 16|                50|          30|1819.7947120048902|  2021-08-29|  2022-01-11|            5|4000016|
| 17|                50|          30| 513.9772809081154|  2021-03-27|  2021-07-01|            5|4000017|
| 18|                50|          30|  1055.33085142346|  2021-12-05|  2022-02-11|            5|4000018|
| 19|                50|          30| 1814.934606965941|  2021-04-17|  2022-01-03|            5|4000019|
| 20|                50|          30| 684.0761022477877|  2021-11-18|  2022-04-06|            5|4000020|
+---+------------------+------------+------------------+------------+------------+-------------+-------+
only showing top 20 rows

root
 |-- id: integer (nullable = true)
 |-- fixed_credit_limit: integer (nullable = true)
 |-- credit_limit: integer (nullable = true)
 |-- due_amount: double (nullable = true)
 |-- created_date: string (nullable = true)
 |-- updated_date: string (nullable = true)
 |-- agent_name_id: integer (nullable = true)
 |-- rfid_id: string (nullable = true)

users_checkout_limit
+------------+-------+--------+---------+------------+------------+
|     user_id|per_day|per_week|per_month|created_date|updated_date|
+------------+-------+--------+---------+------------+------------+

Modules used

In [42]:
import types
def imports():
    for name, val in globals().items():
        if isinstance(val, types.ModuleType):
            yield val.__name__
list(imports())

['builtins',
 'builtins',
 'IPython.core.shadowns',
 'os',
 'pyspark',
 'findspark',
 'numpy',
 'pandas',
 'pyspark.sql.functions',
 'google.colab.drive',
 'string',
 'random',
 'random_address',
 'math',
 'sys',
 'functools',
 'warnings',
 'types']